<p id="notice"><%= notice %></p>

<p>
  <strong>Short Url:</strong>
  <%= link_to @link.short, shortRedirect_links_path(:id => @link.id), target: :_blank %>
</p>

<p>
  <strong>Clicked:</strong>
  <%= @link.clicked %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
